[mysqld]
user=mysql
character-set-server=utf8
default_authentication_plugin=mysql_native_password
secure_file_priv=/var/lib/mysql
expire_logs_days=7
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
max_connections=1000
innodb_old_blocks_time =1000

innodb_flush_method = O_DIRECT

back_log=1000

max_connections = 2000

max_user_connections=2000
max_connect_errors=1000
min_examined_row_limit =5

skip-slave-start

skip-name-resolve

max_connect_errors = 100000

character-set-server=utf8

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8
